@charset "UTF-8";

.mypage-info {
	height: inherit;
	
	
}

.no__member {
	width: 1250px;
	text-align: center;
	font-family: 'line_font_b';
	font-size: 16px;
	color: #595959;
	font-weight: 600;
	
	
}

.no__sub {
	width: 850px;
	text-align: center;
	font-family: 'line_font_b';
	font-size: 16px;
	color: #595959;
	font-weight: 600;
	margin-top: 30px;
}

.body-container {
	background: #fff;
	width: 700px;
	height: 100%;
	border-radius: 10px;
	margin-left: 13px;
}

.body-container_list1 {
	background: #fff;
	width: 600px;
	height: 100%;
	border-radius: 10px;
	margin-left: 23px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.body-container_list2 {
	background: #fff;
	width: 650px;
	height: 100%;
	border-radius: 10px;
	margin-left: 40px;
	margin-top: 15px;
	
}

.body-container2 {
	background: #fff;
	width: 1000px;
	height: 120%;
	border-radius: 10px;
	margin-left: 30px;
	padding-bottom: 20px;
	
}

.div--row {
	display: flex;
}



/*마이페이지 - info*/
.table-mypage-info {
	background: #fff;
	width: 600px;
	height: 100%;
	border-radius: 20px;
	display: flex;
	
}

.profile__size {
	width: 200px;
	margin-left: 0px;
	
}


/* table */
.table-mypage { width: 100%; border-spacing: 0; height:100%; border-collapse: collapse; }
.table-mypage th, .table-mypage td { padding-top: 10px; padding-bottom: 10px; }

.mt__size {
	margin-top: 50px;
	
}


/*버튼*/
.btn-mypage2 {
	width: 85%;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	border: none;
	margin-top: -12px;
	margin-bottom: 20px;
}

.btn-mypage {
	width: 85%;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 9px;
	border: none;
	margin-bottom: 20px;
	background: #004b81;
	color: #fff;
	display: inline-block;
	padding-top: 8px;
	font-family: 'line_font_b';
}

.btn-update {
	width: 85%;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 9px;
	border: none;
	background: #004b81;
	color: #fff;
	display: inline-block;
	font-family: 'line_font_b';
	padding-top: 8px;
}

.btn-mypage:hover , .btn-mypage2:hover {
	opacity: 95%;
}

.reload_btn {
	height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    width: 120px;
    border: none;
    background: #fff;
}

.pdf_btn {
	height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: 210px;
    border: none;
    background: #fff;
    margin-right: 7px;
    background: #CC3333;
    color: #fff;
    font-family: 'line_font_b';
}

.pdf_btn:hover {
	 background: #fff;
	 color: #595959;
	
	 transition: .5s;
	
}


.member_list_btn1 {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	width: 163px;
	border: none;
	font-size: 14px;
	background: #fff;
	margin-right: 5px;
	font-family: 'line_font_b';
	border-radius: 30px;
	margin-left: 2px;
	color: #595959;
	
	
}

.member_list_btn1:hover {background: linear-gradient( to right, #004b81, #9999FF ); color: #fff; transition: .5s;}
.member_list_btn1__click {background: linear-gradient( to right, #004b81, #9999FF ); color: #fff;}



.title-area {
	width: 340px;
	height: 46px;
	background: #004b81;
	margin-left: -12px;
	margin-top: -10px;
	border-radius: 10px;
}

.title-area-text {
	color: #fff;
	font-size: 15px;
	padding-top: 13px;
	padding-left: 20px;
	font-family: line_font_b;
	
}

.title-area-large {
	width: 102.5%;
	height: 46px;
	background: #004b81;
	margin-left: -12px;
	margin-top: -9px;
	border-radius: 10px;
	
}





/*    list 부분 디자인               */
.email__design {
	color: #004b81;
	font-family: line_font_b;
	font-size: 14px;
	
}

/* member list 디자인 ~~ */

.main__left {
	margin-left: 30px;
}


.list_member_design {
	background: #fff;
	width: 1300px;
	height: 90px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 10px;
	vertical-align: baseline;
	padding-left: 32px;
	font-size: 14px;
}

.list_member_design:hover {
	cursor: pointer;
	transform: scale(1.005);
	transition: .5s;
}

.number__design {
	font-size: 25px;
	font-family: line_font_b;
	display: inline-block;
	padding-top: 27px;
	margin-right: 20px;
	color: #595959;
}


.profile__loc {
	width: 60px;
	display: ;
	margin-top: -20px;
}

.name__design {
	margin-left: 30px;
	margin-top: -15px;
	
}

.title__member {
	color: #595959;
	font-size: 17px;
	font-family: line_font_b;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 30px;
}

.title-1 {font-family: line_font_b; margin-left: 34px;}
.title-2 {font-family: line_font_b; margin-left: 110px;}
.title-3 {font-family: line_font_b; margin-left: 110px;}
.title-4 {font-family: line_font_b; margin-left: 50px;}
.title-5 {font-family: line_font_b; margin-left: 70px;}
.title-6 {font-family: line_font_b; margin-left: 70px;}

.title-7 {font-family: line_font_b; margin-left: 130px; }
.title-8 {font-family: line_font_b; margin-left: 50px;}

.member__design {margin-left: 180px; }
.au__design {margin-left: 100px; }
.jo__design {margin-left: 70px; }
.en__btn {float: right; margin-right: 46px; margin-top: 30px;}
.membership__btn {float: right; margin-right: 50px; margin-top: 30px;}

.en__btn__design {width: 80px; height: 30px; border-radius: 10px; border: none; background: #9999FF	; font-family: line_font_b; color: #fff; padding-top: 3px;}
.no_en__btn__design {width: 80px; height: 30px; border-radius: 10px; border: none; background: #DC143C; font-family: line_font_b; color: #fff; padding-top: 3px;}

.membership__btn__design {width: 130px; height: 30px; border-radius: 10px; border: none; background: #004B81; font-family: line_font_b; color: #fff; padding-top: 3px;}
.not__membership__btn__design {width: 130px; height: 30px; border-radius: 10px; border: none; background: #CCCCCC; font-family: line_font_b; color: #fff; padding-top: 3px;}

.paging__design {
	margin-left: -140px;
}

.today__cnt__container {
	width: 240px;
	background: #fff;
	border-radius: 10px;
	height: 60px;
	margin-left: 10px;
	
}

.today__cnt__date {
	color: 	#999999;
	font-size: 10px;
	font-family: 'line_font_b';
	margin-top: 14px;
	margin-left: 8px;

}

.today__cnt__title {
	color: 	#333333;
	font-size: 13px;
	font-family: 'line_font_b';
	padding-left: 7px;
	
}

.today__member__cnt {
	font-size: 26px;
	font-family: 'line_font_b';
	color: 	#FF0066;
	margin-top: 13px;
	margin-left: 15px;
}

.side__by__side {margin-left: 40px;}
.side__by__left{margin-left: 560px;}

.paging_container {
	width: 1300px;
	
}




.table__con {
	width: 100%;
	border-radius: 20px;
	height: 300px;
	background: #fff;
	margin-top: 29px;
}


.body-container__arti {
	width: 300px;
	height: 100%;
	margin-left: 13px;
}


.body-container2__arti {
	width: 70%;
	height: 120%;
	border-radius: 20px;
	margin-left: 40px;
	padding-bottom: 15px;
	padding-top: -100px;
	margin-top: -30px;
	
}


.title__member__det{
    margin-left: 20px;
    color: #595959;
    font-size: 22px;
    font-family: line_font_b;
    font-weight: 600;
    margin-bottom: 14px;
    
}

.title__member__second{
    margin-left: 3px;
    color: #595959;
    font-size: 22px;
    font-family: line_font_b;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: -10px;
}


.title__member__second{
    margin-left: 3px;
    color: #595959;
    font-size: 22px;
    font-family: line_font_b;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: -10px;
}

.title__member__3 {
    margin-left: 3px;
    color: #595959;
    font-size: 22px;
    font-family: line_font_b;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: -5px;
	padding-left: 30px;
}


.btn__enabled {
	width: 100px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 12px;
	border: none;
	background: #004b81;
	display: inline-block;
	padding-top: 9px;
	color: #fff;
}

.tt_bold tr > td:nth-child(2n-1) {
	font-family: line_font_b;
	color: #595959;
	
}



.profile__size__member {
	width: 140px;
	margin-left: 0px;
	margin-top: 0px;
	
}

.state__en__no {
	color: red;
	font-family: line_font_b;
}

.state__en__yes {
	color: #004b81;
	font-family: line_font_b;
}


/*qna 디자인 */
.admin__tr__design th {
	color: #004b81;
	font-family: line_font_b;
}


.info__st {
	background: #fff;
	border-radius: 15px;
	width: 300px;
}




.sub__card {
	width: 305px;
	background: #fff;
	margin-top: 25px;
	height: 80px;
	border-radius: 7px;
	font-size: 11px;
	padding-right:10px;
	
	box-shadow: 0 5px 10px -7px rgba(0,0,0,1);
	border-color: linear-gradient( to right, #004b81, #9999FF );
	
}

.sub__card:hover {
	transform: scale(1.005);
	transition: .2s;
}

.td__padd td {
	padding-left: 10px;
	font-family:'line_font_b';
	color: #595959;
}

.icon__money {
	font-size: 40px;
	color: #fff;
	padding-left: 25px;
	padding-top: 5px;
	background: #004b81;
	padding-right: 20px;
	border-radius: 7px 0px 0px 7px;
	
}


