@charset "UTF-8";

.reload_btn {
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	width: 100px;
	border: none;
	background: #fff;
	
}

.upload_btn {
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 6px;
	width: 100px;
	border: none;
	background: #004b81;
	color: #fff;
	
}

.new__tag {
	font-family: line_font_b;
	font-size: 11px;
}


.search--design1 {
	width: 150px;
	font-size: 11px;
	
}

.search--design2 {
	width: 400px;
	font-size: 12px;
}

.search--design3 {
	width: 100px;
	text-align: center;
	vertical-align: middle;
	background: linear-gradient( to right, #004b81, #9999FF );
	height: 35px;
	border-radius: 6px;
	color: #eee;
	border: none;
	font-weight: 600;
	opacity: 85%;
}

.ck.ck-editor {
	max-width: 99%;
}
.ck-editor__editable {
    min-height: 250px;
}
.ck-content .image>figcaption {
	min-height: 25px;
}


/*메인 페이지 디자인 ! */

.content-frame-second {
	background: #fff;
	border-radius: 20px;
}

.content-frame-list {
	background: #fff;
	border-radius: 20px;
}

.write__form {
	 width: 90%;
	 margin-left: 50px;
	 margin-top: 30px;
	
}



