@charset "UTF-8";

header {
	position: relative;
	z-index: 999;

	width: 100%; height: 60px;

	background: #004B81;
	box-shadow: rgba(0, 0, 0.6, 0.4) 0 -20px 20px 20px;
}

body {
	color: #222;
	line-height: 1.42857143;
}

.wrapper {
	padding: 30px 30px 15px;
	transition: all 0.3s ease-out;

}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* Small devices (tablets) ------------------------*/
@media (min-width: 768px) {
}

/* Medium devices (desktops) ------------------------*/
@media (min-width: 992px) {
  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
    overflow: visible;
  }

  .wrapper {
    margin-left: 250px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }
}

.logo__size {
	width: 280px;
	margin-top: -18px;
	margin-left: -10px;
	
}

/* header ------------------------ */
.header-container {
	display: flex;
	justify-content: space-between;
}

.header-container2 {
	display: flex;
}


.header-left {
	padding: 16px 15px;
	width: 250px;
	height: 60px;
	/*background: #393939ff;*/
	background: #004B81;
}

.header-right {
	padding: 13px 40px;
	height: 60px;
	background: #004B81;
	display: flex;
	justify-content: flex-end;
}

.roll-user {
	margin-left: 7px;
}

.header-left h1 {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
}

.header-right span {
	display: inline-block;
	vertical-align: middle;
}

.header-right .img {
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background-repeat : no-repeat;
	background-size : cover;
	margin-right: 5px;
}

.header-right label {
	display: block;
}
.header-right .roll {
	 font-size: 10px;
	 color: #000;
}
.header-right .user span {
	 vertical-align: top;
	 color: #000;
}
.header-right .user i {
	 padding-left: 7px;
	 color: #000;
}

.header--title {
	font-size: 23px;
	float:left;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 14px;
	margin-left: 27px;
}


/* body ------------------------ */
.body-container {
	display: block;
	padding-top: 5px;
}

.body-title {
    color: #424951;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #ddd;
}
.body-title h2 {
    font-size: 23px;
    min-width: 300px;
    font-family:"line_font";
    font-weight: bold;
    margin: 0 0 -5px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #424951;
}

.body-main {
	display: block;
	padding-bottom: 15px;
}
