.body-container {
	max-width: 1000px;
	display: flex;
    flex-direction: column;
}
.body-main{
min-height:600px;
display:flex;
align-items: flex-start;
background-color: #fafafa;
border: 1px solid #e1e5ef;
padding: 15px;
}
.body-main > div{
	background-color: #fafafa;
    border: 1px solid #e1e5ef;
}
.input-group-text{
	background-color: #fafafa;
    border: 1px solid #e1e5ef;
}

#submit_btnbox{
margin:3px;
display:flex;
justify-content:flex-end;
}
.container{
	display:block;
}
input-group-text {
	
}
.main-container {
	display: flex;
}

.help-block {
	color: red;
}