<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPerform">
	
	<!-- 통계  1 : 연간 세일-->
	<select id="chart_sales" resultType="com.sp.app.admin.perform.Perform">
	 SELECT SUM(paid_amount) sum_paid_amount, TO_CHAR(substart, 'YYYY-MM-DD')substart
        FROM subscript
        GROUP BY TO_CHAR(substart, 'YYYY-MM-DD')
        ORDER BY substart ASC
	</select>
	
	<!-- 통계  1 : 일자별 회원 가입자 -->
	<select id="chart_member" resultType="com.sp.app.admin.perform.Perform">
	 SELECT COUNT(memberNo) dataMember, TO_CHAR(joindate, 'YYYY-MM-DD') joindate
        FROM member
        GROUP BY TO_CHAR(joindate, 'YYYY-MM-DD')
        ORDER BY joindate ASC
	</select>
	
	<!-- 회원 리스트 가져오기 -->
	<select id="list_member" parameterType="map" resultType="com.sp.app.admin.perform.Perform">
	</select>
	
	<!-- 매출 / 올해 매출 조회 -->
	<select id="year_target" resultType="com.sp.app.admin.perform.Perform">
		SELECT TO_CHAR(golsdate, 'YYYY') golsdate, golamount, goltype
		FROM sales_goals
		WHERE TO_CHAR(golsdate, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
	</select>
	
	<!-- 일자별 매출 가져오기  -->
	<select id="listDaily_sales" resultType="com.sp.app.admin.perform.Perform">
		SELECT substart, SUM(paid_amount) paid_amount, month, year
		FROM (SELECT TO_CHAR(substart, 'YYYY-MM-DD')substart , paid_amount,
		    SUM(paid_amount) OVER(PARTITION BY TO_CHAR(substart, 'YYYY-MM-DD')) AS day,
		    SUM(paid_amount) OVER(PARTITION BY TO_CHAR(substart, 'YYYY-MM')) AS month,
		    SUM(paid_amount) OVER(PARTITION BY TO_CHAR(substart, 'YYYY')) AS year
		FROM subscript
		WHERE TO_CHAR(substart, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
		ORDER BY substart DESC) ss 
		GROUP BY substart, day, month, year
		ORDER BY substart DESC
	</select>
	
	<!-- 일자별 가입자수 가져오기 -->
	<select id="listDaily_member" resultType="com.sp.app.admin.perform.Perform">
		SELECT joindate, COUNT(memberNo) dataMember , month, year
		FROM (SELECT TO_CHAR(joindate, 'YYYY-MM-DD') joindate , memberNo,
		    COUNT(memberNo) OVER(PARTITION BY TO_CHAR(joindate, 'YYYY-MM-DD')) AS day,
		    COUNT(memberNo) OVER(PARTITION BY TO_CHAR(joindate, 'YYYY-MM')) AS month,
		    COUNT(memberNo) OVER(PARTITION BY TO_CHAR(joindate, 'YYYY')) AS year
		FROM member
		WHERE TO_CHAR(joindate, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
		ORDER BY joindate DESC) ss 
		GROUP BY joindate, day, month, year
		ORDER BY joindate DESC
	</select>
	
	
	
	
	
</mapper>