<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMypage">
	<select id="listMypage" parameterType="map" resultType="com.sp.app.admin.mypage.Mypage">
		SELECT memberNo, email, pwd, name, nickName, TO_CHAR(birth, 'YYYY-MM-DD') birth , gender, TO_CHAR(joindate,'YYYY-MM-DD') joindate , NVL(TO_CHAR(recentdate, 'YYYY-MM-DD'), '2999-01-01') recentdate,
			NVL(wrongcnt, 0) wrongcnt , NVL(TO_CHAR(modifydate, 'YYYY-MM-DD'), '2999-01-01') modifydate, enabled, membership
		FROM member
		WHERE memberNo = #{memberNo}
	</select>
	
	<!-- 관리자 정보 변경하기  -->
	<update id="updateMypage" parameterType="com.sp.app.admin.mypage.Mypage">
		UPDATE member SET birth = #{birth} , name = #{name}, nickName = #{nickName}, modifydate = SYSDATE
			WHERE memberNo = #{memberNo}
	</update>
	
	<select id="readMypage" parameterType="Long" resultType="com.sp.app.admin.mypage.Mypage">
		SELECT memberNo, email, pwd, name, nickName, TO_CHAR(birth, 'YYYY-MM-DD') birth , gender, TO_CHAR(joindate,'YYYY-MM-DD') joindate , NVL(TO_CHAR(recentdate, 'YYYY-MM-DD'), '2999-01-01') recentdate,
			NVL(wrongcnt, 0) wrongcnt , NVL(TO_CHAR(modifydate, 'YYYY-MM-DD'), '2999-01-01') modifydate, enabled, membership
		FROM member
		WHERE memberNo = #{memberNo}
	</select>
	
	
	<!-- list ############### -->
	<!-- 관리자 qna 답변 가져오기 -->
	<select id="listMyqna" parameterType="map" resultType="com.sp.app.admin.mypage.Mypage">
		SELECT c.qnaNo, qnaacontent, TO_CHAR(qnaaregdate, 'YYYY-MM-DD') qnaaregdate, m.name
		FROM qnareply c
		JOIN member m ON c.memberNo = m.memberNo
		WHERE memberShip = 99
			ORDER BY c.qnaNo DESC
			OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 데이터 카운트 !  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) dataCount
		FROM ${table} c
		JOIN member m ON c.memberNo = m.memberNo
		WHERE memberShip = 99
	</select>
	
	
	<!-- 관리자 faq 가져오기 -->
	<select id="listMyfaq" parameterType="map" resultType="com.sp.app.admin.mypage.Mypage">
		SELECT c.faqNo, faqsubject, TO_CHAR(faqregdate, 'YYYY-MM-DD') faqregdate, m.name
		FROM faq c
		JOIN member m ON c.memberNo = m.memberNo
		WHERE memberShip = 99
			ORDER BY c.faqNo DESC
			OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 다른 관리자 리스트 가져오기 -->
	<select id="listAdmin" parameterType="map" resultType="com.sp.app.admin.mypage.Mypage">
		SELECT memberNo, email, pwd, name, nickName, TO_CHAR(birth, 'YYYY-MM-DD') birth , gender, TO_CHAR(joindate,'YYYY-MM-DD') joindate , NVL(TO_CHAR(recentdate, 'YYYY-MM-DD'), '2999-01-01') recentdate,
			NVL(wrongcnt, 0) wrongcnt , NVL(TO_CHAR(modifydate, 'YYYY-MM-DD'), '2999-01-01') modifydate, enabled, membership
		FROM member
		WHERE membership = 99 AND memberNo != #{memberNo}
	</select>
	
	<!-- 관리자 권한 취소 하기 1 (member 테이블) -->
	<update id="updateAdmin_1" parameterType="map">
		UPDATE member SET membership = 1 WHERE memberNo = #{memberNo}
	</update>
	
	<!-- 관리자 권한에서 취소하기 2 (member 테이블) -->
	<update id="updateAdmin_2" parameterType="map">
		UPDATE authority SET authority = 'ROLE_USER' WHERE memberNo = #{memberNo}
	</update>


</mapper>