<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keyword">
	<select id="keyword_news" parameterType="map" resultType="com.sp.app.main.Keyword">
		SELECT pickNo, memberNo, pickTitle, pickDate, pickLink, keyword
		FROM pick_news
		WHERE memberNo = #{memberNo}
	</select>

</mapper>