<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">
	
	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject' ">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content' ">
			DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='senderName' ">
			INSTR(nickName, #{keyword}) &gt; 0
		</if>
	</sql>

	<select id="listSubscripter" resultType="com.sp.app.sub.Subscript">
		SELECT subNo, email, s.memberNo, nickName, TO_CHAR(subStart,'YYYY-MM-DD') subStart, nickName,
		TO_CHAR(subEnd,'YYYY-MM-DD') subEnd
		FROM subscript s
		JOIN member m ON m.memberNo = s.memberNo
		WHERE SYSDATE &gt;= subStart AND SYSDATE &lt;= subEnd
	</select>
	
	<select id="sequenceSubMail" resultType="Long">
		SELECT LAST_NUMBER
		FROM USER_SEQUENCES
		WHERE SEQUENCE_NAME='SUBMAIL_SEQ'
	</select>
	
	<insert id="insertSubMail" parameterType="com.sp.app.sub.mail.Mail">
		INSERT INTO SUBMAIL(mailNo, subNo) 
			VALUES(#{mailNo}, #{subNo})
	</insert>
	
	<insert id="insertSubMailInfo" parameterType="com.sp.app.sub.mail.Mail">
		INSERT INTO SUBMAILINFO(mailNo, subject, content, sendDate, senderEmail) 
			VALUES(#{mailNo}, #{subject}, #{content}, SYSDATE, #{senderEmail})
	</insert>
	
	<select id="listSendMail" parameterType="map" resultType="com.sp.app.sub.mail.Mail">
		SELECT mailNo, subject, content, TO_CHAR(sendDate, 'YYYY-MM-DD') sendDate, senderEmail, nickName senderName
		FROM SUBMAILINFO si
		JOIN member m ON m.email = si.senderEmail 
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY mailNo DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM SUBMAILINFO si
		JOIN member m ON m.email = si.senderEmail 
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="findByMailInfo" parameterType="Long" resultType="com.sp.app.sub.mail.Mail">
		SELECT mailNo, subject, content, TO_CHAR(sendDate, 'YYYY-MM-DD') sendDate, senderEmail, nickName senderName,
		    (select COUNT(*) cnt FROM submail where mailNo = #{mailNo}) cnt
		FROM SUBMAILINFO si
		JOIN member m ON m.email = si.senderEmail 
		WHERE mailNo = #{mailNo}
	</select>
	
	<select id="findBySubMailCount" parameterType="Long" resultType="Integer">
		SELECT COUNT(*) cnt
		FROM SUBMAIL
		where mailNo = #{mailNo}
	</select>
	
	<select id="preFindByMailInfo" parameterType="Long" resultType="com.sp.app.sub.mail.Mail">
		SELECT mailNo, subject, content, senderEmail, TO_CHAR(sendDate, 'YYYY-MM-DD') sendDate, 
		    nickname senderName, (select COUNT(*) cnt FROM submail where mailNo = #{mailNo}) cnt
		FROM subMailInfo si
		JOIN member m ON m.email = si.senderEmail 
		WHERE mailNo &lt; #{mailNo}
		ORDER BY mailNo DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="nextFindByMailInfo" parameterType="Long" resultType="com.sp.app.sub.mail.Mail">
		SELECT mailNo, subject, content, senderEmail, TO_CHAR(sendDate, 'YYYY-MM-DD') sendDate, 
		    nickname senderName, (select COUNT(*) cnt FROM submail where mailNo = #{mailNo}) cnt
		FROM subMailInfo si
		JOIN member m ON m.email = si.senderEmail 
		WHERE mailNo &gt; #{mailNo}
		ORDER BY mailNo ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	


</mapper>