<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 회원 가입 1. -->
	<insert id="insertMember" parameterType="com.sp.app.member.Member">
		INSERT INTO member(memberNo, email, name, nickName, pwd, birth, gender, joinDate, 
			enabled, memberShip) 
		VALUES(#{memberNo}, #{email}, #{name}, #{nickName}, #{pwd}, #{birth}, #{gender},
			SYSDATE, 1, 1)
	</insert>
	
	<!-- 회원 가입 2. 권한 테이블 -->
	<insert id="insertAuthority" parameterType="com.sp.app.member.Member">
		INSERT INTO authority(memberNo, authority)
			VALUES (#{memberNo}, #{authority})
	</insert>
	
	<!-- member 테이블의 memberNo 시퀀스 값 -->
	<select id="memberSeq" resultType="Long">
		SELECT member_seq.NEXTVAL from dual
	</select>

	<!-- 로그인  -->	
	<select id="loginMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT memberNo, email, name, nickName, pwd, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
			gender, modifyDate, recentDate, profile
		FROM member
		WHERE email = #{email} AND enabled != 0
	</select>
	
	<!-- 로그인 성공 시 최근 방문일 날짜 업데이트 -->
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET recentDate = SYSDATE, wrongCnt = 0
		WHERE email=#{email}
	</update>
	
	<select id="readMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT m.memberNo, email, name, nickName, pwd, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
			gender, modifyDate, recentDate, profile, authority, enabled, memberShip
		FROM member m
		JOIN Authority a ON m.memberNo = a.memberNo
		WHERE email = #{email}
	</select>
	
	<select id="readNickNameMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT memberNo, email, name, nickName, pwd, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
			gender, modifyDate, recentDate, profile
		FROM member
		WHERE nickName = #{nickName}
	</select>

</mapper>