<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="news">
	
	<select id="listNews" resultType="com.sp.app.news.News">
		SELECT newsNo, title, originLink, hitCount, categoryNo
		FROM NEWS
	</select>
	
	<select id="readNews" parameterType="map" resultType="com.sp.app.news.News">
		SELECT n.newsNo, title, originLink, hitCount, n.categoryNo, categoryName
			,NVL(bookMarked, 0) bookMarked
		FROM NEWS n
		LEFT OUTER JOIN(
		    SELECT newsNo, COUNT(*) bookMarked
		    FROM bookmark bm
		    JOIN member m ON m.memberNo = bm.memberNo
		    WHERE m.memberNo = #{memberNo}
		    GROUP BY newsNo
		) bm ON bm.newsNo = n.newsNo
		LEFT OUTER JOIN category c ON c.categoryNo = n.categoryNo
		WHERE originLink = #{originLink}
		ORDER BY newsNo
	</select>
	
	<select id="readNewsNoFromUrl" parameterType="String" resultType="Long">
		SELECT newsNo
		FROM NEWS
		WHERE originLink = #{originLink}
	</select>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE NEWS SET hitCount = hitCount+1 WHERE newsNo = #{newsNo}
	</update>
	
	<delete id="deleteNewsLike" parameterType="com.sp.app.news.News">
		DELETE FROM newsLike
		WHERE newsNo = #{newsNo} 
	</delete>
	
	<insert id="insertNewsLike" parameterType="com.sp.app.news.News">
		INSERT INTO newsLike(newsNo, memberNo) 
			VALUES(#{newsNo}, #{memberNo})
		
	</insert>
	
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM NEWSREPLY nr
		JOIN NEWS n ON n.newsNo = nr.newsNo
		WHERE nr.newsNo = #{newsNo}
		<if test="memberShip lt 51">
			AND ( showHide=0 OR ( showHide=-1 AND memberNo=#{memberNo} ) )
		</if>
	</select>
	
	<select id="listReply" parameterType="map" resultType="com.sp.app.news.Reply">
		SELECT nr.replyNo, content, regDate, newsNo, nr.memberNo, nickName, NVL(likeCount,0) likeCount,
			NVL(userReplyLiked,0) userReplyLiked, nr.showHide
		FROM newsReply nr
		JOIN member m ON m.memberNo = nr.memberNo
		LEFT OUTER JOIN (
		    SELECT replyNo, COUNT(*) likeCount
		    FROM newsReplyLike 
		    GROUP BY replyNo
		) nrl ON nr.replyNo = nrl.replyNo
		LEFT OUTER JOIN (
		    SELECT replyNo, COUNT(*) userReplyLiked
		    FROM newsReplyLike nrlRe
            JOIN member m ON m.memberNo = nrlRe.memberNo
            WHERE m.memberNo = #{memberNo}
            GROUP BY replyNo
		) nrl2 ON nr.replyNo = nrl2.replyNo
		WHERE newsNo = #{newsNo}
		<if test="memberShip lt 51">
			AND (showHide=0 OR (showHide=-1 AND m.memberNo = #{memberNo}))
		</if>
		ORDER BY replyNo
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<update id="updateReplyHide">
		UPDATE newsReply SET showHide = #{showHide}
		WHERE replyNo = #{replyNo}
	</update>
	
	<insert id="insertReply" parameterType="com.sp.app.news.Reply">
		INSERT INTO newsReply(replyNo, content, regDate, newsNo, memberNo)
    		VALUES(replyno_seq.NEXTVAL, #{content}, sysdate, #{newsNo}, #{memberNo})
	</insert>
	
	<select id="userNewsLiked" parameterType="map" resultType="com.sp.app.news.News">
		SELECT newsNo, memberNo 
		FROM newsLike 
		WHERE newsNo = #{newsNo} AND memberNo = #{memberNo}
	</select>
	
	<select id="newsLikeCount" parameterType="Long" resultType="Integer">
		SELECT COUNT(*)
		FROM newsLike
		WHERE newsNo = #{newsNo}
	</select>
	
	<update id="updateReply" parameterType="map">
		UPDATE newsReply SET replyNo=#{replyNo}, content=#{content}, regDate=sysdate, memberNo=#{memberNo}
		WHERE newsNo = #{newsNo} 
	</update>
	
	<delete id="deleteReply" parameterType="map">
		DELETE FROM newsReply
		WHERE replyNo = #{replyNo} AND memberNo = #{memberNo}
	</delete>
	
	<delete id="beforeDeleteReply" parameterType="map">
		DELETE FROM newsReplyLike
		WHERE replyNo = #{replyNo}
	</delete>
	
	<select id="complainCount" parameterType="Long" resultType="Integer">
	SELECT COUNT(*)
	FROM complain
	WHERE replyNo = #{replyNo}
	</select>
	
	<select id="userReplyComplain" parameterType="map" resultType="com.sp.app.news.Complain">
		SELECT replyNo, memberNo
		FROM complain
		WHERE replyNo = #{replyNo} AND memberNo = #{memberNo}
	</select>
	
	<insert id="insertReplyComplain" parameterType="com.sp.app.news.Complain">
		INSERT INTO complain(complainNo, memberNo, complain, complainDate, replyNo) 
			VALUES(complainNo_seq.NEXTVAL, #{memberNo}, #{complain}, sysdate, 
				#{replyNo})
	</insert>
	
	<select id="replyLikeCount" parameterType="Long" resultType="Integer">
		SELECT COUNT(*)
		FROM newsReplyLike
		WHERE replyNo = #{replyNo}
	</select>

	<select id="userReplyLike" resultType="Integer">
		SELECT COUNT(*)
		FROM newsReplyLike
		WHERE replyNo = #{replyNo} AND memberNo = #{memberNo}
	</select>
	
	<insert id="insertReplyLike" parameterType="map">
		INSERT INTO newsReplyLike(replyNo, memberNo)
			VALUES(#{replyNo}, #{memberNo})
	</insert>
	
	<delete id="deleteReplyLike" parameterType="map">
		DELETE FROM newsReplyLike
		WHERE replyNo = #{replyNo} AND memberNo = #{memberNo}
	</delete>
	
	<insert id="insertBookMark" parameterType="map">
		INSERT INTO bookmark(bookMarkNum, newsNo, memberNo, bookMarkName)
			VALUES(bookMark_seq.NEXTVAL, #{newsNo}, #{memberNo}, #{bookMarkName})
	</insert>
	
	<delete id="deleteBookMark" parameterType="map">
		DELETE bookMark
		WHERE newsNo = #{newsNo} and memberNo = #{memberNo}
	</delete>


</mapper>