<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subscript">

	<insert id="insertSubPay" parameterType="com.sp.app.sub.Subscript">
		INSERT INTO SUBSCRIPT(subNo, memberNo, subStart, subEnd, subType,
			paid_amount, memo, imp_uid, merchant_uid, paid_at, pg_tid, firstMail) 	
		VALUES(subscript_seq.NEXTVAL, #{memberNo}, TO_DATE(#{subStart}, 'YYYY-MM-DD') ,TO_DATE(#{subEnd}, 'YYYY-MM-DD'), 
			#{subType}, #{paid_amount}, #{memo, jdbcType=VARCHAR}, #{imp_uid}, #{merchant_uid}, 
			TO_DATE(#{paid_at}, 'YYYY-MM-DD HH24:MI:SS'), #{pg_tid}, TO_DATE(#{firstMail}, 'YYYY-MM-DD'))
	</insert>
	
	
	<select id="listSubPay" parameterType="long" resultType="com.sp.app.sub.Subscript">
		SELECT subNo, nickName, email, TO_CHAR(subStart,'YYYY-MM-DD') subStart, TO_CHAR(subEnd,'YYYY-MM-DD') subEnd, 
    		TO_CHAR(firstMail,'YYYY-MM-DD') firstMail, subType, paid_amount, imp_uid, 
    		merchant_uid, TO_CHAR(paid_at,'YYYY-MM-DD HH24:MI:MM') paid_at, pg_tid, 
				CASE WHEN subEnd &gt;= sysdate then 1
		        	WHEN subEnd &lt; sysdate then -1
		        	ELSE 0 END AS endOrNot
		FROM SUBSCRIPT s
		JOIN MEMBER m ON m.memberNo = s.memberNo
		WHERE s.memberNo = #{memberNo}
		ORDER BY paid_amount DESC
	</select>
	
	<select id="listSubPaySelectSub" parameterType="map" resultType="com.sp.app.sub.Subscript">
		SELECT subNo, nickName, email, TO_CHAR(subStart,'YYYY-MM-DD') subStart, TO_CHAR(subEnd,'YYYY-MM-DD') subEnd, 
    		TO_CHAR(firstMail,'YYYY-MM-DD') firstMail, subType, paid_amount, imp_uid, 
    		merchant_uid, TO_CHAR(paid_at,'YYYY-MM-DD HH24:MI:MM') paid_at, pg_tid, 
				CASE WHEN subEnd &gt;= sysdate then 1
		        	WHEN subEnd &lt; sysdate then -1
		        	ELSE 0 END AS endOrNot
		FROM SUBSCRIPT s
		JOIN MEMBER m ON m.memberNo = s.memberNo
		WHERE s.memberNo = #{memberNo} and subType = #{selectSub}
		ORDER BY paid_amount DESC
	</select>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM subscript s
		JOIN member m ON m.memberNo = s.memberNo
		WHERE s.memberNo = #{memberNo}
	</select>
	
	<select id="dataCountSub" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM subscript s
		JOIN member m ON m.memberNo = s.memberNo
		WHERE s.memberNo = #{memberNo} and subType = #{selectSub}
	</select>
	
	<select id="findBySubPayInfo" parameterType="String" resultType="com.sp.app.sub.Subscript">
		SELECT subNo, nickName, email, TO_CHAR(subStart,'YYYY-MM-DD') subStart, TO_CHAR(subEnd,'YYYY-MM-DD') subEnd, 
    		TO_CHAR(firstMail,'YYYY-MM-DD') firstMail, subType, paid_amount, imp_uid, 
    		merchant_uid, TO_CHAR(paid_at,'YYYY-MM-DD HH24:MI:MM') paid_at, pg_tid, 
				CASE WHEN subEnd &gt;= sysdate then 1
		        	WHEN subEnd &lt; sysdate then -1
		        	ELSE 0 END AS endOrNot
		FROM SUBSCRIPT s
		JOIN MEMBER m ON m.memberNo = s.memberNo
		WHERE imp_uid = #{imp_uid}
	</select>
	
	<select id="listSubscripter" resultType="com.sp.app.sub.Subscript">
		SELECT subNo, email, s.memberNo, nickName, TO_CHAR(subStart,'YYYY-MM-DD') subStart,
		TO_CHAR(subEnd,'YYYY-MM-DD') subEnd
		FROM subscript s
		JOIN member m ON m.memberNo = s.memberNo
		WHERE SYSDATE &gt;= subStart AND SYSDATE &lt;= subEnd
	</select>
	
	<insert id="insertSubMail" parameterType="com.sp.app.sub.mail.Mail">
		INSERT INTO SUBMAIL(mailNo, subNo, title, content, sendDate) 
			VALUES(submail_seq.NEXTVAL, #{subNo}, #{subject}, #{content}, SYSDATE)
	</insert>
	
	
</mapper>